<!DOCTYPE html>
<html>
  <head>
    <% if @page_name %>
      <title><%= "#{@page_name} | Ruby on Rails Tutorial Sample App" %></title>
    <% else %>
      <title>Sample App</title>
    <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
